#tugas {
    background-color: white;
    width: 700px;
    height: 600px;
    border: solid black;
    margin: auto;
}
#tugas h1 {
    text-align: center;
}
#no1 {
    float: left;
    padding-left: 50px;
}
#no2 {
    float: right;
    padding-right: 50px;
}