body {
    background-color: darkcyan;
    text-align: center;
    margin: 40px;
}

.container{
    width: 250px;
    margin: 0px auto;
    background-color: cadetblue; 
    height: 500px; 
    border-radius: 10px;
    padding: 20px;
    border: 2px solid black;

}
.gambartengah{
    width: 250px;
    margin: 0px auto;
    height: 250px; 

}

.gambar{
    width: 125px;
    height: 125px;
    float: left;
}

.gambar:hover{
    opacity: 0.5;
    cursor: pointer;
}